<!DOCTYPE HTML>
<style>
    a.button {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        font-size: 30px;
        text-decoration: none;
        color: initial;
    }
</style>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Index</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<button onclick="location.href='/'" type="button">
    Logout</button>
<br>
<button onclick="location.href='/tabieturiuser'" type="button">
    Tabieturile mele</button>
<br>
<button onclick="location.href='/badgeuriuser'" type="button">
    Badgeurile mele</button>
<br>
<button onclick="location.href='/rapoarteuser'" type="button">
    Rapoartele mele</button>
<br>
<button onclick="location.href='/stergeretabiet'" type="button">
    Stergere Tabiet</button>
<br>
<button onclick="location.href='/adaugaretabiet'" type="button">
    Adaugare Tabiet</button>
<br>
<button onclick="location.href='/tabieturigenerale'" type="button">
    Sugestii de tabieturi</button>
<br>

</body>
</html>
