<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Tabieturi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<button onclick="location.href='/'" type="button">
    Logout</button>
<br>
<button onclick="location.href='/tabieturiuser'" type="button">
    Inapoi</button>
<h1>Istoric statusuri tabiet selectat: </h1>

<table border="1" class="table table-responsive">
    <tr>
        <th>zi</th>
        <th>descriere</th>

    </tr>
    <tr th:each = "status: ${statstabiet}">
        <td th:text="${status.zi}"></td>
        <td th:text="${status.descriere_status}"></td>


    </tr>
</table>

</body>
</html>
